@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/1.png" type="image/x-icon" />-->
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="~/css/vendors/fontawesome.css" rel="stylesheet" />

    <!--Slick slider css-->
    <link href="~/css/vendors/slick.css" rel="stylesheet" />
    <link href="~/css/vendors/slick-theme.css" rel="stylesheet" />

    <!-- Animate icon -->
    <link href="~/css/vendors/animate.css" rel="stylesheet" />

    <!-- Themify icon -->
    <link href="~/css/vendors/themify-icons.css" rel="stylesheet" />

    <!-- Bootstrap css -->
    <link href="~/css/vendors/bootstrap.css" rel="stylesheet" />

    <!-- Theme css -->
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body class="theme-color-1">
    <div class="template-password">
        <div class="container">
            <div id="container" class="text-center">
                <div>
                    <div id="login">
                        <div>
                            <div class="logo mb-4">
                                <a href="#">
                                    <img src="~/images/icon/CompexSaleLogo.png" alt="Multikart_fashion" class="img-fluid">
                                </a>
                            </div>
                            <h2 class="mb-3">
                                Will be Opening Soon!
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <form action="#" class="theme-form">
                                    <div class="col-md-12 mt-2">
                                        <h3>Enter Your Email: </h3>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-md-12">
                                            <input type="password" name="password" id="password" class="form-control"
                                                   autofocus="">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="actions">
                                                <button type="submit" class="btn btn-solid">notify me</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div id="footer" class="mt-4">
                            <div id="owner">
                                Are you the store owner? <a href="@Url.Action("Login", "Account")">Log in here</a> or <a href="#">
                                    change your password
                                    settings
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="powered">
                        <p>© 2021, Powered by <a href="https://go2concepts.com/" style="color: #d0c979;">Go2MarketConcepts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/lazysizes.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap-notify.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>