@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>OGLASI</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">COMPEXSALE</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="p-0 position-relative height-85 bg_cls">
    <div class="home-slider slider-animate">
        <div>
            <div class="home">
                <img src="~/images/bicycle/home-slider/1.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain product-detail">
                                <div>
                                    <h1 class="animated font-cormorant" data-animation-in="fadeInUp"
                                        data-delay-in="0.2">
                                        Hero Cycles
                                    </h1>
                                   
                                    <a href="#" class="btn btn-solid animated" data-animation-in="fadeInUp"
                                       data-delay-in="0.6">DETALJI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home">
                <img src="~/images/bicycle/home-slider/2.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain product-detail">
                                <div>
                                    <h1 class="animated font-cormorant" data-animation-in="fadeInUp"
                                        data-delay-in="0.2">
                                        Launched Bikes
                                    </h1>
                                   
                                    <a href="#" class="btn btn-solid animated" data-animation-in="fadeInUp"
                                       data-delay-in="0.6">DETALJI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg_cls">
    <div class="search-section absolute-banner">
        <div class="container">
            <div class="absolute-bg">
                <form class="row align-items-center">
                    <div class="col-md-3 col-12">
                        <div class="form-group mb-0">
                            <select class="form-control">
                                <option>Selektuj kategoriju</option>
                                <option>Automobili</option>
                                <option>Kamioni</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="Lokacija" tabindex="0">
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="Naziv" tabindex="0">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 search-col">
                        <div class="search-btn">
                            <a href="#" class="btn btn-solid d-block" tabindex="0">search</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ratio2_3 bg_cls">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <div class="tab-content-cls">
                        <div id="tab-4" class="tab-content active default">
                            <div class="row cycle-box-row">
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>

                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/1.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h5>STATUS OGLASA: AKTIVAN</h5>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/2.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h5>STATUS OGLASA: AKTIVAN</h5>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/3.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h5>STATUS OGLASA: AKTIVAN</h5>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/4.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h5>STATUS OGLASA: AKTIVAN</h5>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/5.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/6.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/7.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="cycle-box">
                                        <div class="product-detail">
                                            <a href="product-page(no-sidebar).html">
                                                <h4>Bicycle Scout 26T</h4>
                                            </a>
                                            <ul class="details">
                                                <li><i class="fa fa-user-o" aria-hidden="true"></i> Datum oglašavanja:</li>
                                                <li>
                                                    <i aria-hidden="true"></i> 07.02.2022.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="img-wrapper">
                                            <a href="product-page(no-sidebar).html">
                                                <img src="~/images/bicycle/8.jpg"
                                                     class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                        </div>
                                        <div class="bottom-detail">
                                            <div>
                                                <h4>STATUS OGLASA: AKTIVAN</h4>
                                            </div>
                                        </div>
                                        <ul class="cart-detail">
                                            <li>
                                                <button title="Pogledaj detalje oglasa" tabindex="0">
                                                    <i data-feather="shopping-cart"></i>DETALJI
                                                </button>
                                            </li>
                                            <li>
                                                <a href="compare.html" title="Pošalji upit" tabindex="0">
                                                    <i data-feather="refresh-ccw"></i>POŠALJI UPIT
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="cookie-bar">
    <p>
        We use cookies to improve our site and your shopping experience. By continuing to browse our site you accept
        our cookie policy.
    </p>
    <a href="javascript:void(0)" class="btn btn-solid btn-xs">accept</a>
    <a href="javascript:void(0)" class="btn btn-solid btn-xs">decline</a>
</div>

<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="quick-view-img ratio_asos">
                            <div class="quick-slide-1 theme-dots no-arrow">
                                <div>
                                    <img src="../assets/images/bicycle/1.png" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <div>
                                    <img src="../assets/images/bicycle/1.png" alt=""
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>Women Pink Shirt</h2>
                            <h3>$32.96</h3>
                            <ul class="color-variant">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <p>
                                    Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium
                                </p>
                            </div>
                            <div class="product-description border-product">
                                <div class="size-box">
                                    <ul>
                                        <li class="active"><a href="javascript:void(0)">s</a></li>
                                        <li><a href="javascript:void(0)">m</a></li>
                                        <li><a href="javascript:void(0)">l</a></li>
                                        <li><a href="javascript:void(0)">xl</a></li>
                                    </ul>
                                </div>
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button"
                                                    class="btn quantity-left-minus" data-type="minus" data-field="">
                                                <i class="ti-angle-left"></i>
                                            </button>
                                        </span>
                                        <input type="text" name="quantity" class="form-control input-number"
                                               value="1"> <span class="input-group-prepend">
                                            <button type="button"
                                                    class="btn quantity-right-plus" data-type="plus" data-field="">
                                                <i class="ti-angle-right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <a href="#" class="btn btn-solid">Pogledaj detalje oglasa</a> <a href="#" class="btn btn-solid">view detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section dataTables {
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/slick-animation.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/theme-setting.js"></script>
    <script src="~/js/custom-slick-animated.js"></script>
    <script src="~/js/footer-reveal.min.js"></script>
}
