
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Create Customer
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Customers </li>
                    <li class="breadcrumb-item active">Create account </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Add Vendor</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs tab-coupon" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active show" id="account-tab" data-bs-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="true" data-original-title="" title="">Account</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                            <form class="needs-validation user-add">
                                <div class="form-group row" id="profileButtons">
                                    <div class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated justify-content-center">
                                        <label class="d-block" for="edo-ani1">
                                            <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani" checked="">
                                            Fizičko lice
                                        </label>
                                        <label class="d-block" for="edo-ani2">
                                            <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani">
                                            Pravno lice
                                        </label>
                                    </div>
                                </div>
                                <div id="physicalPerson">
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> First Name</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom1" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Last Name</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom2" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> JMBG</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom3" type="text" required="">
                                        </div>
                                    </div>
                                </div>
                                <div id="legalPerson" class="d-none">
                                    <div class="form-group row">
                                        <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Company Name</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom2" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> PIB</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom3" type="text" required="">
                                        </div>
                                    </div>
                                </div>
                                <div id="commonFields">
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Email</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom4" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Telephone</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom4" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span> Address</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom4" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom3" class="col-xl-3 col-md-4"><span>*</span> City</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom3" type="password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom4" class="col-xl-3 col-md-4"><span>*</span> Zip Code</label>
                                        <div class="col-xl-8 col-md-7">
                                            <input class="form-control" id="validationCustom4" type="password" required="">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section dataTables {
    <script src="~/js/custom-js/create-customer.js"></script>
    <script src="~/js/dashboard/form-validation-custom.js"></script>
}