@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>KONSALTING </h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">COMPEXSALE</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="~/images/about/Man-Working-Storage.jpg"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
            <div class="col-sm-12">
                <h4>
                    PRODAJA I KUPOVINA BIZNISA
                </h4>
                <p>
                    COMPEXSALE nudi širok dijapazon usluga prilikom prodaje, kupovine ili preuzimanja privrednih društava. Bez obzira da li želite da prodate svoje preduzeće u celosti ili samo deo, tražite strateškog partnera radi unapređenja poslovanja ili finansijskog investitora radi dokapitalizacije, mi nudimo kreativne i inovativne solucije za Vas.
                </p>
                <br />
                <br />
                <p>
                    Takođe želimo da se oglasite ukoliko tražite da kupite određeno preduzeće, deo preduzeća, budete učesnik dela poslovanja kroz vlasničku ili kooperativnu strukturu. Cilj nam je brzo povezivanje na osnovu informacija i kontakata koje imamo u svom portfoliju kako bi zainteresovane strane saznale jedna za drugu i time se stekli uslovi za ostvarivanje interesa sve tri strane.
                </p>
                <br />
                <br />
                <p>
                    Akcije nakon registrovanja kako na strani ponude ili tražnje realizuju se kroz:
                </p>
                <br />
                    <p>•	Identifikaciju poslovnih partnera za povezivanje u zemljama u okruženju, EU ili globalno,</p><br />
                    <p>•	Prodaju ili kupovinu dela ili celog preduzeća,</p><br />
                    <p>•	Konsolidaciju kroz spajanje i pripajanje u okviru određenih privrednih grana ili sa kompanijama iz inostranstva u cilju kreiranja većih i finansijski jačih kompanija,</p><br />
                    <p>•	Kupovinu preduzeća na kredit (LBO) ili kupovinu preduzeća od strane menadžmenta kreditnim i investicionim kapitalom (MBO/MBI),</p><br />
                    <p>•	Dijagnostičku analizu (due diligence),</p><br />
                    <p>•	Procenu vrednosti kapitala i imovine,</p><br />
                    <p>•	Pripremu investicione ili prodajne dokumentacije (teaser, informacioni memorandum),</p><br />
                    <p>•	Pripremu biznis planova i/ili njihova procena i procena isplativosti akvizicije,</p><br />
                    <p>•	Projekciju novčanih tokova i modeliranje u Excelu finansijskih efekata kupovine za period 3-5 godina nakon kupovine,</p><br />
                    <p>•	Earn out, odloženo plaćanje, uslovne i slične ponude,</p><br />
                    <p>•	Podršku u toku i ispunjenje akvizicione transakcije,</p><br />
                    <p>•	Dokapitalizaciju od strane investicionih fondova ili međunarodnih finansijskih institucija kao što su EBRD, Međunarodna finansijska organizacija (IFC) i druge,</p><br />
                    <p>•	Pribavljanju dodatnog dužničkog i investicionog kapitala za finansiranje akvizicije,</p><br />
                    <p>•	Javno preuzimanje listiranih privrednih društava preko Beogradske berze,</p><br />
                    <p>•	Kupovina preduzeća u inostranstvu,</p><br />
                    <p>•	Pripremu i podnošenje ponuda za preuzimanje u postupku privatizacije</p><br />
            </div>
        </div>
    </div>
</section>