@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Razvojni put kompanije
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    U agenciji se angažuje tim koji je sačinjen od više lica koja na multidisciplinaran način uz višegodišnje iskustvo rada u privredi i javnom sektoru kako u zemlji tako i u inostranstvu, iznalaze optimalna rešenja za klijente. Kroz radni staž svakog od članova sticalo se iskustvo uz poslovne kontakte koje je rezultiralo da se stvori kritična masa zainteresovanih da uz inovativnu poslovnu ideju uzmu učešće u svakodnevnim poslovnim aktivnostima.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Usluge koje smo spremni da ponudimo
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Kompanija pruža svojim klijentima posredničke usluge u poslovnim aktivnostima kompenzacija, razmena, diskontnih prodaja, logistike (kao prateće i dodatne poslovne aktivnosti za naše klijente), konsalting i učešću u posredovanju u prodaji celog ili dela biznisa ili tražnje za učešćem u vlasništvu određenog poslovnog subjekta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Naša prednost u odnosu na druge poslovne platforme
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Nudimo originalni poslovni koncept na jednom mestu, a to je poslovna platforma COMPEXSALE. Nismo želeli da budemo još jedan od sajtova ili platformi za prodaju i ponudu. Odlučili smo da svoju aktivnost usmerimo na poslovnu nišu koja je poznata u privredi ali koja nema svoje mesto i adresu na tržištu. Takođe smo pored ponude instalirali i tražnju kao inicijlanu poslovnu aktivnost za realizaciju uspešnog poslovanja. Generisanjem ponude i tražnje uz mogućnost direktnog pronalaženja odgovarajuće strane poslovne aktivnosti ali i traženja klijenata za vašu poslovnu ponudu omogućili smo da u punom angažmanu iskoristimo posredničku ulogu našeg tima. Kroz posredničku ulogu omogući ćemo našim klijentima da ponude ono što im nije trenutno potrebno u kompenzaciji ili razmeni za ono što im je potrebno uz plaćanje posredničke provizije u novcu ali ukoliko klijent nije u mogućnosti da je plati u novcu može svoju poslovnu aktivnost da završi i bez njega uz određeni procenat davanja robe. Rešite se nepotrebnih stvari u zamenu za potrebne ili prodajte što pre po diskontnim cenama vašu robu kojoj ili brzo ističe rok, nije perspektivna za vas, tehnološki vam ne odgovara…
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Ono što nas izdvaja na tržištu
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Jedinstven koncept gde se susreću ponuda i tražnja koje se uz kvalitetnu posredničku ulogu našeg tima poslovno realizuju na zadovoljstvo sve tri strane učesnice u poslovnoj aktivnosti. Namena je da svaki posetilac platforme ili njen učesnik koji se registrovao na propisan način znaju da će u kratkom roku rešiti svoje poslovne zahteve i na ovom mestu naći ono što na drugim mestima ne mogu. Potencijalni klijent treba samo da dobije informaciju da se profilisala ovakva mogućnost na tržištu, a ostalo je naša briga. Kao jedan od primera poslovne situacije je zahtev klijenta da se reši proizvodnog postrojenja sa svim delovim u celini ili po segmentima u koje je investirao ali je zbog nekog razloga odlučio da prekine dalju proizvodnju. Kapital nije u potpunosti uzalud potrošen jer sigurno da će nekome biti interesantno to što nudite u ne klasičnoj komercijalnoj prodaji. Ovakvih primera ima puno pa se uverite u šarolikost mogućnosti naše platforme posetom i oglašavanjem.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    Specifičnosti u međunarodnoj razmeni
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Specifičnost međunarodne razmene svakako jeste pronalaženje najpovolnije opcije za klijenta uz poštovanje svih zakonskih regulativa, kako bi se pronašlo najoptimalnije rešenje za klijenta. Iskustvo u poslovima logistike zaokružuje celokupnu priču od ideje i želje za realizacijom do konačnog statusa vaše robe ili usluge (kroz organizaciju sigurnog i bezbednog transporta, usluge špedicije ili eventualnog skladištenja).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                    Šta mogu da očekuju naši klijenti?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Klijenti mogu da očekuju profesionalan odnos, ubrzanje poslovnih aktivnosti kroz zakonski regulisano poslovanje. Iskoristite outsourcing u posredničkoj ulozi COMPEXSALE-a jer je to najpovoljniji i najbrži način da realizujete profesionalno svoje poslovne aktivnosti.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    Poruka ljudima koji žele da zakorače u poslovni svet?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Postići <b>uspeh u poslu</b> uopšte nije lako, i svako na svom radnom mestu ima neke određene ciljeve koje pokušava da dosegne.
                                    <br />
                                    Kada u jednom trenutku dođemo do tog cilja, ne možemo, a da ne osetimo zadovoljstvo. Iza nas je put posut trnjem, puno truda i rada, koji su rezultirali uspehom.
                                    <br />
                                    <br />
                                    Zato, ukoliko u svojoj okolini imate neku osobu koja je ostvarila veliki poslovni uspeh, čestitajte joj i pružite dodatnu motivaciju kako bi i ubuduće imala volje da ostvari još veće poduhvate.
                                    <br />
                                    <br />
                                    Pod poslovnim uspehom se mogu podrazumevati mnoge stvari: otvaranje firme, unapredjenje, promena posla na bolje, ostvarivanje nekog određenog cilja, početak saradnje sa novim klijentom koji će doneti veću zaradu, uspešno završen projekat i slično …
                                    <br />
                                    <br />
                                    Pretvorite izazove u motivaciju!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>