@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Razvojni put kompanije
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Razvojni put kompanije bio je od njenog osnivanja 1992. godine pa sve do 2018. godine
                                    opredeljen isključivo u pravcu špedicije i špediterskiih usluga. 2018. godine firma počinje
                                    saradnju sa italijanskom firmom u oblasti pakovanja hemijskih proizvoda. Saradnja je proistekla
                                    iz usluga špedicije koje su rađene za navedenu firmu. U početku priča oko proizvodnje
                                    (pakovanja) išla je blago rastući od 2 angažovana pa do 160 angažovanih u 2020. godini.
                                    Špediterske usluge su sve vreme bile prisutne. Rastom proizvodnje (pakovanja) firma je doživela
                                    restruktuiranje u pogledu organizacije. Tako danas kompanija Gaz-Šped doo ima u svom sastavu
                                    tri ogranka (špedicija, proizvodnja, agrar) I dva sektora podrške (ljudski resursi i računovodstov I
                                    finansije). Rastom I razvojem firme javila se potreba uvođenja standardizacije u poslovanju, te je
                                    firma početkom 2021. godine sertifikovana za Integrisan menadžment sistem (IMS ISO) po
                                    standardima ISO 9001, 14001 I 45001.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Usluge koje smo spremni da ponudimo
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Kompanija pruža svojim sklijentima usluge špedicije, privatnog carinskog skladišta, organizovanje I realizaciju proizvodnje (uslužnog pakovanja, sklapanja, sortiranja proizvoda gde je prisutan manuelni rad uz mogućnost ubacivanja prostijih mašina I uređaja), prodaju pet programa za kućne ljubimce (82 sopstvena proizvoda), agrarnom proizvodnjom (ratarstvo, voćarstvo, stočarstvo), konsaltingom na polju organizovanja proizvodnje, standardizacije, unapređenja poslovanja primenom LEAN conepta (QA, EHS, HR i Menadžment).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Naša prednost u odnosu na druge kompanije
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Kompanija Gaz-Šped uspešno posluje dugi niz godina u oblastima špedicije i logistike i profesionalno pružamo i usluge eksterne manuelne proizvodnje za inostrane klijente – možemo ponuditi sve vrste uslužnog sklapanja, manuelne proizvodnje i uslužnog pakovanja sa visokom efikašnošću i kvalitetom pruženih usluga. Pored pomenutog angažmana imamo na raspolaganju iskusne zaposlene za pružanje usluge manuelne proizvodnje u našem pogonu u Apatinu i efikasan menadžment tim koji može odgovoriti svim zahtevima klijenata, uključujući brzo dostizanje zahtevane efikasnosti proizvodnog procesa uz razvijen sistem kontrole kvaliteta. Broj rasploživih zaposlenih možemo povećavati shodno zahtevima klijenata - mogućnost rada u dve smene.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Ono što nas izdvaja na tržištu
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Mogućnost organizovanja i realizacije prozivodnje uz sve pogodnosti korišćenja bescarinske zone (za strane klijente) podržano logistikom I špedicijom I to sve na jednom mestu. Blizina granice sa Hrvatskom, Mađarskom I Bosnom I Hercegovinom i plovni put reke Dunav.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                    Specifičnosti u međunarodnoj špediciji
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Specifičnost svakako jeste pronalaženje najpovolnije opcije za klijenta uz poštovanje svih zakonskih regulativa, kako bi se pronašlo najoptimalnije rešenje za klijenta. Ovo svakako može da bude ponuđeno svim zainteresovanim klijentima uz naše višegodišnje iskustvo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                    Lista klijenata sa kojima poslujemo
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Referentna list dosadašnjih komitenata:<br/>
                                    -  Deoflor East Stara Pazova<br />
                                    -  Deoflor SPA Italija<br />
                                    -  Euromasiv Apatin<br />
                                    -  Apatinska pivara<br />
                                    -  Vero Apatin<br />
                                    -  Panšped Novi Sad<br />
                                    -  Skypro team Beograd<br />
                                    -  Zeus Novi Sad<br />
                                    -  Aster Bačka Palanka<br />
                                    -  Red fruit Novi Sad<br />
                                    -  Lučić Prigrevica<br />
                                    -  Papa Karlo Leskovac<br />
                                    -  Santa trade Stari Banovci<br />
                                    -  Lampone Bački Petrovac<br />
                                    -  Pan Pets Apatin<br />
                                    -  Midex Sombor<br />
                                    -  Port company Apatin<br />
                                    -  Brodogradilište Apatin<br />
                                    -  Aluplast Apatin<br />
                                    -  Dina sistem Apatin<br />
                                    -  Kid trans Beograd<br />
                                    -  Bućan trans Rumenka<br />
                                    -  Info tech Sonbor<br />
                                    -  Delikomat Beograd<br />
                                    -  La fantana Beograd<br />
                                    -  ISIS Beograd
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                    Način na koji podstičemo zaposlene
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    U toku rada istražujemo sve incidente i neusaglašene proizvode LEAN alatima (DMAIC, 5WAY...) i
                                    razmenjujemo informacije sa klijentom, vodimo i dodatnu dokumentaciju ukoliko je klijent
                                    zahteva, otvoreni smo za sve vrste provera i audita i rado ćemo učestvovati u njima, KAIZEN
                                    procesom neprestano uključujemo sve naše zaposlene da svojim idejama pomognu razvoju
                                    procesa u firmi i trudimo sa da implemenetacijom dobrih praksi unapredimo naše procese.
                                    Zaposleni su pretplaćeni na stručnu literaturu, prisustvuju raznim vidovima edukacije.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                    Šta mogu da očekuju naši klijenti
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Klijenti mogu da očekuju profesionalan odnos, stalno unapređenje poslovanja kroz zagarantovan
                                    sistem kontrole kvaliteta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false"
                                        aria-controls="collapseNine">
                                    Poruka ljudima koji zele da zakorače u poslovni svet?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Postići <b>uspeh</b> u poslu uopšte nije lako, i svako na svom radnom mestu ima neke određene
                                    ciljeve koje pokušava da dosegne.<br />
                                    Kada u jednom trenutku dođemo do tog cilja, ne možemo, a da ne osetimo zadovoljstvo. Iza nas
                                    je put posut trnjem, puno truda i rada, koji su rezultirali uspehom.<br /><br />
                                    Zato, ukoliko u svojoj okolini imate neku osobu koja je ostvarila veliki poslovni uspeh, čestitajte
                                    joj i pružite dodatnu motivaciju kako bi i u buduće imala volje da ostvari još veće poduhvate.<br /><br />
                                    Pod poslovnim uspehom se mogu podrazumevati mnoge stvari: otvaranje firme, unapredjenje,
                                    promena posla na bolje, ostvarivanje nekog određenog cilja, početak saradnje sa novim
                                    klijentom koji će doneti veću zaradu, uspešno završen projekat i slično …<br /><br />
                                    Pretvorite izazove u motivaciju!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>