@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>TRANSPORT  /  SKLADIŠTENJE  /  ŠPEDICIJA </h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">COMPEXSALE</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="~/images/about/Man-Working-Storage.jpg"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
            <div class="col-sm-12">
                <h4>
                    LOGISTIKA
                </h4>
                <p>
                    Savremena logistika je više od glatke razmene robe i informacija. Pametno i održivo poslovanje zahteva veštine stručnjaka za logistiku koji su u stanju da razmišljaju unapred. Kao profesionalci koji žive ovakav pristup u prilici smo da vam pomognemo na polju <b>skladištenja, transporta i špedicije</b> ukoliko specifičnost robe koju ste oglasili i tražili zahteva dodatne usluge kako bi se realizovala konačna želja klijenta.
                </p>
                <br />
                <p>
                    Od registracije na platformi do isporuke i od pojedinačnih pošiljki do veće distribucije, <b>Compexsale</b> razvija individualna rešenja za ceo lanac razmene ili prodaje. Pažljivo osmišljena logistička rešenja po meri i sinhronizovana transportna mreža garantuju realizaciju koju svi priželjkujemo. Inteligentna logistika skladištenja obezbeđuje da se vaša roba u međufaznom rešavanju konačnog statusa čuva i u potrebno vreme transportuje, ocarini ako je potrebno i preda željenoj lokaciji. Ciljano outsourcing poslovnih procesa povećava efikasnost. Postoji 1.000 mogućnosti, ali sve dolaze iz jednog izvora - <b>Compexsale</b>.
                </p>
                <br />
                <br />
                <h4>
                    KONSALTING
                </h4>
                <p>
                    Ovde želimo da skrenemo pažnju  da ste sa nama u prilici da koristite usluge konsaltinga u oblasti ponude, trežnje, logistike (potreba za skladištenjem, transportom, špedicijom predmetne robe u toku rešavanja vaše konačne želje), kupovine i prodaje dela ili preduzeća u celini kako bi za vas iznašli najoptimalnije rešenje u skladu sa našim kontaktima, znanjem i željom da zajedno realizujemo poslovnu aktivnost koja uvek treba da bude na obostrano zadovoljstvo. Konsultantske usluge za naše registrovane klijente se ne naplaćuju dodatno.
                </p>
                <br />
                <br />
                <p>
                    Najčešći razlozi za korišćenje usluga konsaltinga:
                </p>
                <br />
                <p>1.	Kada se pojavi potreba za aktivnostima iz oblasti u kojima niste dovoljno stručni. U ovom slučaju je poželjno angažovati davaoce konsalting usluga, naročito ako se uzme u obzir to da se eventualne greške, koje možete napraviti usled nedovoljne stručnosti, mogu pokazati kao kobne u kasnijem periodu.</p> <br />
                <p>2.	U slučaju kada je vlasnik opterećen brojnim aktivnostima, te nije u stanju da posveti dovoljno pažnje svakoj od njih i obavlja ih “u trku”.</p><br />
                <p>3.	Kada je potrebno obaviti jednokratne, ali veoma osetljive aktivnosti, poput dizajna ili prve promotivne kampanje. U ovim slučajevima, aktivnosti koje se sprovode daju svoje rezultate u veoma dugom roku, tako da su relativno jeftine ako se uzimaju od davalaca konsalting usluga. Tada posebno važi prethodna napomena u vezi sa greškama koje se kasnije mogu pokazati kao fatalne.</p><br />
                <p>4.	Za dopunske aktivnosti takođe je poželjno koristiti konsalting usluge, jer ćete se na taj način više fokusirati na osnovne aktivnosti, u kojima ste, po pretpostavci, veoma stručni. Takvom kombinacijom dobićete veoma kvalitetno odrađen projekat, koji će u potpunosti obaviti funkciju za koju ga stvarate.</p>
                <br />
                <br />
                <p>
                    Ovo su, dakle, situacije u kojima je preporučljivo koristiti konsalting usluge. Naravno, to je samo jedan deo svih situacija koje su moguće u praksi, ali se one najčešće javljaju.
                </p>
            </div>
        </div>
    </div>
</section>