.hovered {
    background-position: 100%;
    color: #000000;
    background-color: #ffffff;
}

.radio_animated:before {
    background: #d0c979;
}

.button-padding {
    padding-right:15px;
}

.register-page .theme-card {
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.label-margin {
    margin-top: 10px;
}

.radio-buttons-padding {
    padding-bottom: 20px;
}

.retail-validation {
    color: red;
}

.text-color {
    color: black;
}

.text-underline {
    text-decoration: underline;
    font-size: 15px;
}

.model-header-bottom {
    border-bottom: 1px solid #d0c979;
}

.category-underline {
    text-decoration: solid underline #d0c979;
}

.image-border {
    border: 1.5px solid #d0c979;
}

.item-border {
    border-right: 1.5px solid #d0c979;
}

.title-style {
    text-transform: uppercase !important;
}

.slider-title {
    color: black;
    font-weight: bolder;
    background-color: white;
}

.details-img{
    background-size: contain !important;
    background-repeat: no-repeat !important;
}


@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    .pixelstrap .full-mega-menu a{
        letter-spacing:unset;
    }
} 

@media screen and (max-width: 767px) {
    .register-page .theme-card {
        display:flex;
        flex-direction:column;
        padding:10px;
    }

    .retail-button{
        align-self:center;
        margin-top:30px;
    }

    .register-label {
        padding-left:10px;
    }

    .top-header{
        height:auto;
    }
    
    .header-dropdown{
        display:flex;
        justify-content:space-evenly;
        padding: 0px 0px 10px 0px !important;
    }

    .header-dropdown li {
        padding:0px !important;
    }

    .top-header .header-contact li{
        padding:0;
        
    }

    .header-contact ul{
        display:flex;
        justify-content:space-around;
    }

}

@media screen and (max-width: 500px){

    .header-contact ul {
        flex-direction:column;
        text-align:center;
    }
}