.hovered {
    background-position: 100%;
    color: #000000;
    background-color: #ffffff;
}

.radio_animated:before {
    background: #d0c979;
}

.button-padding {
    padding-right:15px;
}

.register-page .theme-card {
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.label-margin {
    margin-top: 10px;
}

.radio-buttons-padding {
    padding-bottom: 20px;
}

.retail-validation {
    color: red;
}

.text-color {
    color: black;
}

.text-underline {
    text-decoration: underline;
    font-size: 15px;
}

.model-header-bottom {
    border-bottom: 1px solid #d0c979;
}

.category-underline {
    text-decoration: solid underline #d0c979;
}

