.retail-button{
    margin-top: 7%;
    margin-right: 7%;
}

.retail-validation {
    color: red;
}

.retail-border {
    border-top: solid 1.5px #b7b4b4ad;
    padding-top: 10px;
}

.control-center {
    text-align: center;
}

.retail-button-form {
    margin-top: 3%;
    margin-right: 2%;
}

.retail-checkbox {
    margin-left:5px;
}