@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Kreiraj proizvod
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Oglasi</li>
                    <li class="breadcrumb-item active">Kreiraj proizvod</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row product-adding">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-header">
                    <h5>General</h5>
                </div>
                <div class="card-body">
                    <form id="create-product" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data" autocomplete="off" novalidate>
                        <div class="digital-add needs-validation">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Title</label>
                                <input class="form-control" id="validationCustom01" type="text" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> SKU</label>
                                <input class="form-control" id="validationCustomtitle" type="text" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Categories</label>
                                <select class="custom-select form-control" required="">
                                    <option value="">--Select--</option>
                                    <option value="1">eBooks</option>
                                    <option value="2">Graphic Design</option>
                                    <option value="3">3D Impact</option>
                                    <option value="4">Application</option>
                                    <option value="5">Websites</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Sort Summary</label>
                                <textarea rows="5" cols="12"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02" class="col-form-label"><span>*</span> Product Price</label>
                                <input class="form-control" id="validationCustom02" type="text" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Status</label>
                                <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                    <label class="d-block" for="edo-ani">
                                        <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani">
                                        Enable
                                    </label>
                                    <label class="d-block" for="edo-ani1">
                                        <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">
                                        Disable
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label"> Add Description</label>
                                <textarea name="description" cols="10" rows="7"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="card">
                <div class="card-header">
                    <h5>Add Photos</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="file" name="file" id="imgInp" class="dropify" data-height="300" />
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="file" name="file" id="img1Inp" class="dropify" data-height="300" />
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="file" name="file" id="imgInp" class="dropify" data-height="300" />
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input type="file" name="file" id="img1Inp" class="dropify" data-height="300" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="digital-add needs-validation">
                        <div class="form-group mb-0">
                            <div class="product-buttons text-center">
                                <button type="button" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-light">Discard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section headSection {
    <link href="~/dropify/dist/css/dropify.min.css" rel="stylesheet" />
}

@section dataTables {
    <script src="~/dropify/dist/js/dropify.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })

            $()
        });
    </script>
}

